@using Canvas.Project.Workshop
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Fields
@using Sitecore.Resources.Media

@{
    var renderingItem = RenderingContext.Current.Rendering.Item;
    var heroText = renderingItem.Fields[Templates.HomePage.Fields.HeroText];
    var heroImageField = (ImageField) renderingItem.Fields[Templates.HomePage.Fields.HeroImage];
    var heroImage = heroImageField.MediaItem != null ? MediaManager.GetMediaUrl(heroImageField.MediaItem) : string.Empty;
    var body = renderingItem.Fields[Templates.HomePage.Fields.Body];
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@renderingItem.Name</title>
</head>
<body>
<div>
    <h1>@heroText</h1>
    @if (!string.IsNullOrEmpty(heroImage)) {
        <img src="@heroImage" alt="Hero Image" style="width:500px;" />
    }
    @Html.Raw(body)
</div>
</body>
</html>